*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main{
	height: 100vh;
	font-family: 'Poppins', sans-serif;
	background-color: #f4ad31;
	display: grid;
	grid-template-rows: 20vh 3fr 1fr 3fr 20vh;
}
#construction-vehicle{
	grid-row: 4/5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#icon{
	height: 30vh;
}
#icon img{
	height: 100%;
}
#road{
	height: 10px;
	width: 80%;
	background: black;
	border-radius: 5px;
}
#title{
	grid-row: 2/3;
	display: flex;
	/*flex-direction: column;*/
	justify-content: center;
	align-items: center;
}
#cone{
	display: flex;
	justify-content: center;
	align-items: center;
	/*background-color: lightgrey;*/
	height: 10vh;
	margin-right: 20px;
}
#cone img{
	height: 100%;
}
#text{
	display: flex;
	justify-content: center;
	align-items: center;
	/*background-color: pink;*/
	line-height: 250%;
	
}
#text h1{
	font-size: 5vw;
}

@media screen and (max-width: 768px){
	#title{
		flex-direction: column;
	}
	#text{
		text-align: center;
	}
	#text h1{
		font-size: 10vw;
	}
	#cone{
		margin-right: 0;
		margin-bottom: 20px;
	}
}