:root {
	/*--red: #D63C49;*/
	--red: #F11616;

	--color-orange: #FA9C3A;
	--color-yellow: #F2E121;

	--green1: #4C7B3A;
	--green2: #669653;
	--green3: #AAD39A;
	--color-blue: #00587B;

	--color-dark1: #404040;
	--color-dark2: #5A5A5A;
	--color-light1: #EAEAEA;
	--color-light2: #BFBFBF;
	--color-mid-grey: #808080;

	--action-color: #d1c344;

	--form-padding: 50px;
	--input-width: 200px;
	--input-height: 30px;
}
*{
	margin: 0;
	padding-top: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}
button{
	font-family: 'Poppins', sans-serif;
}
input::placeholder{
	font-family: 'Poppins', sans-serif;
}
nav{
	height: 100px;
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	background-color: var(--green1);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 4;
}
nav h1{
	font-size: 40px;
	margin-right: 100px;
	color: var(--color-light1);
	line-height: 90%;
}
main{
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.admin-bar{
	display: flex;
	align-items: center;
}
#account-details{
	color: var(--green2);
}
.account-details-box{
	display: flex;
	align-items: center;
	position: relative;
}
.account-details-box svg{
	width: 15px;
	fill: var(--action-color);
}
.admin-options{
	margin-left: 4px;
	background-color: transparent;
	border-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.admin-options:hover svg{
	fill: white;

}
.new-admin-dropdown{
	width: 140px;
	height: 20px;
	border-radius: 5px;
	position: absolute;
	z-index: 3;
	right: 0;
	bottom: -100%;
	background-color: var(--green2);
	display: flex;
	align-items: center;
	justify-content: center;

	opacity: 0;
	pointer-events: none;
	transform: translateY(-20px);
	transition: all 0.4s ease;
}
.appear-slide-down{
	transform: translateY(0px);
	opacity: 1;
	pointer-events: all;
}
.new-admin-dropdown button{
	width: 100%;
	height: 100%;
	background-color: transparent;
	border-style: none;
	color: var(--action-color);
	font-size: 12px;
	cursor: pointer;
}
.new-admin-dropdown button:hover{
	color: white;
}
.new-recipe-Btn{
	margin-left: 20px;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	color: white;
	background-color: var(--green2)
}
.new-recipe-Btn:hover{
	background-color: var(--action-color);
	color: var(--green1);
}
.login-form{
	white-space: nowrap;
}
.login-form input{
	height: 30px;
	margin: 10px;
	border-radius: 5px;
	background-color: var(--green2);
	border-style: none;
}
.login-form input::placeholder{
	color: var(--color-light1);
	text-align: center;
}
.login-form button{
	height: 30px;
	width: 80px;
	border-radius: 5px;
	border-style: none;
	background-color: var(--action-color);
	color: var(--green1);
}
.login-form button:hover{
	background-color: var(--color-light1);
	cursor: pointer;
}
.sign-up-out-links{
	margin-left: 30px;
	text-decoration: none;
	text-align: center;
	line-height: 120%;
	color: var(--action-color);
	font-size: 18px;
	/*color: white;*/
}
.sign-up-out-links:hover{
	color: var(--color-light1);
	cursor: pointer;
}




/******************************ADD NEW ADMIN********************************/




.add-admin-box{
	padding: 40px;
	border-radius: 10px;
	position: fixed;
	top: 50%;
	z-index: 3;
	background-color: var(--green1);
}
#add-admin{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
#add-admin input{
	height: 30px;
	width: 300px;
	margin-bottom: 20px;
	background-color: transparent;
	border-style: none none solid none;
	border-color: var(--green2);
	font-size: 15px;
}
#add-admin input::placeholder{
	color: white;
}
#add-admin button{
	height: 40px;
	width: 120px;
	/*margin-top: 30px;*/
	border-radius: 5px;
	font-size: 15px;
	border-style: none;
	background-color: var(--action-color);
	color: var(--green1);
}
#add-admin button:hover{
	cursor: pointer;
	background-color: white;
}
#add-admin svg{
	width: 15px;
	fill: white;
	color: white;
	position: absolute;
	top: -25px;
	right: -20px;
	cursor: pointer;
}





/***********************ARE YOU SURE YOU WANT TO DELETE RECIPE?*********************/



.confirm-delete-recipe{
	background-color: var(--color-light2);
	position: fixed;
	top: 50vh;
	right: 50vw;
	transform: translateX(50%);
	z-index: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	border-radius: 10px;
}
.confirm-delete-recipe h3{
	color: black;
}
.confirm-delete-recipe div{
	display: flex;
	align-items: center;
	justify-content: center;
}
.confirm-delete-recipe button{
	width: 100px;
	height: 30px;
	margin: 10px;
	border-style: none;
	border-radius: 5px;
}
.confirm-delete-recipe button:hover{
	cursor: pointer;
	border-style: solid;
	border-color: white;
}
.delete-recipe-yes{
	background-color: var(--red);
	color: white;
}




/**********************************SIGNUP FORM**************************/



.hidden{
	display: none;
}
.signup-container{
	position: absolute;
	top: 150px;
	z-index: 3;
}
.signup-form{
	/*margin: 100px;*/
	padding: var(--form-padding);
	border-radius: 10px;
	border-style: solid;
	border-color: var(--green1);
	background-color: var(--color-light1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
.signup-form label{
	margin-bottom: 3px;
	color: var(--green1);
}
.user-id-container{
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
}
.user-id-container p{
	position: absolute;
	bottom: 25px;
	right: 50%;
	transform: translateX(50%);
	white-space: nowrap;
	font-size: 10px;
	color: var(--color-light2);
}
.signup-form input{
	margin-bottom: 40px;
	height: var(--input-height);
	width: var(--input-width);
	border-style: none;
	border-radius: 5px;
	text-align: center;
}
.signup-form svg{
	width: 15px;
	fill: var(--green1);
	color: white;
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}
.signup-form svg:hover{
	fill: var(--action-color);
}





/***************************CREATE RECIPE*********************************/




.create-container{
	position: absolute;
	top: 50px;
}
.create-form{
	margin: 100px;
	z-index: 3;
	padding: var(--form-padding);
	border-radius: 10px;
	border-style: solid;
	border-color: var(--green1);
	background-color: var(--color-light1);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.create-label{
	color: var(--green1);
	font-size: 18px;
	margin-top: 20px;
}
.create-form input{
	height: var(--input-height);
	width: var(--input-width);
	border-radius: 5px;
	/*background-color: ;*/
	border-style: none;
}
.create-form h2{
	font-size: 35px;
	margin-bottom: 30px;
	color: var(--green1);
}
#title{
	/*margin-bottom: 30px;*/
}
#img{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow-x: hidden;
	position: absolute;
	z-index: -1;
}
.img-label{
	padding: 2px 8px;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 20px;
	background-color: var(--action-color);
	font-size: 12px;
}
.img-label:hover{
	background-color: white;
	cursor: pointer;
}
.add-ingredients{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.add-steps{
	display: flex;
	flex-direction: column;
	align-items: center;
}



/*Labels for inputs*/
.ingredient1-box{
	position: relative;
}
#new-ingredients{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#new-ingredients label:hover{
	cursor: pointer;
}
.newer-steps-box{
	display: flex;
	align-items: center;
	position: relative;
}
#new-steps label:hover{
	cursor: pointer;
}
.step1-box{
	display: flex;
	align-items: center;
	position: relative;
}
.input-num{
	color: var(--color-light2);
	position:absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -8%;
	font-size: 13px;
}
.exitCreate{
	width: 15px;
	fill: var(--green1);
	color: white;
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}
.exitCreate:hover{
	fill: var(--action-color);
}






.newer-ingredients{
	margin-top: 5px;
}
.newer-ingredients-box{
	display: flex;
	align-items: center;
	position: relative;
}
#new-steps{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.newer-steps{
	margin-top: 5px;
}
.addBtn{
	margin-top: 2px;
	width: 18px;
	fill: var(--action-color);
}
.addBtn:hover{
	fill: var(--green1);
	cursor: pointer;
}
.submitBtn{
	height: 50px;
	width: 150px;
	margin-top: 30px;
	background-color: var(--action-color);
	border-style: none;
	border-radius: 10px;
	font-size: 18px;
	color: var(--green1);
}
.submitBtn:hover{
	background-color: white;
	cursor: pointer;
}



/**************************************ALL RECIPES**************************/




.all-recipes{
	width: 80%;
	padding: 20px;
	margin: 80px;
	border-radius: 20px;
	background-color: var(--color-light1);
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}
.all-recipes h1{
	font-size: 60px;
	color: white;
}
.item{
	width: 90%;
	padding: 20px;
	margin: 20px;
	border-radius: 10px;
	background-color: white;
	display: flex;
	align-items: center;
	position: relative;
}
.item span{
	position: absolute;
	top: 10px;
	right: 20px;
	color: var(--color-mid-grey);
}
.item img{
	width: 250px;
}
.item .text{
	width: 100%;
	padding-left: 50px;
	display: flex;
	flex-direction: column;
	align-items: left;
}
.item .text p{
	margin-bottom: 10px;
}
.delete-btn{
	position: absolute;
	right: 20px;
	bottom: 18px;
	height: 25px;
	width: 60px;
	background-color: var(--red);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	font-size: 12px;
}
.delete-btn:hover{
	cursor: pointer;
	border-style: solid;
	border-color: var(--color-light2);
}

@media screen and (max-width: 1024px){
	nav{
		flex-direction: column;
		justify-content: center;
		height: 150px;
	}
	nav h1{
		margin-right: 0px;
		margin-bottom: 10px;
	}
	main{
		padding-top: 150px;
	}
	.all-recipes{
		margin: 80px;
	}


	/****************************DISPLAY RECIPES********************************/

	.item img{
		width: 200px;
	}
	.item .text{
		padding-left: 20px;
	}
	.item .text p{
		font-size: 12px;
	}
	.steps li{
		font-size: 12px;
	}
	.userID{
		font-size: 12px;
	}

	/*******************************SIGNUP FORM**********************************/

	.signup-container{
		top: 180px;
	}
}
@media screen and (max-width: 700px){
	/**********************************EVERYTHING NAV-RELATED***************************/
	nav{
		height: 100px;
	}
	nav h1{
		font-size: 25px;
	}
	main{
		padding-top: 100px;
	}
	.account-details-box p{
		font-size: 11px;
	}
	.sign-up-out-links{
		font-size: 10px;
		margin-left: 10px;
	}
	.new-recipe-Btn{
		font-size: 12px;
		margin-left: 5px;
		padding: 3px 5px;
	}
	.admin-options{
		padding-left: 0px;
	}
	.admin-options svg{
		width: 12px;
	}
	.new-admin-dropdown{
		height: 15px;
		bottom: -120%;
	}
	.new-admin-dropdown button{
		font-size: 10px;
	}
	.login-form input{
		width: 80px;
		height: 20px;
		font-size: 10px;
		margin: 3px;
	}
	.login-form button{
		width: 50px;
		height: 20px;
		font-size: 10px;
	}
	.all-recipes{
		width: 90%;
		border-radius: 15px;
		margin: 40px;
	}
	.all-recipes h1{
		font-size: 30px;
		text-align: center;
	}


	/****************************DISPLAY RECIPES********************************/


	.item{
		flex-direction: column;
		padding: 40px 20px 60px 20px;
	}
	.item img{
		width: 200px;
	}
	.item .text{
		width: 100%;
		padding-left: 0px;
		/*text-align: center;*/
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.item .text h2{
		margin-top: 15px;
	}
	.item .text p{
		font-size: 12px;
	}
	.userID{
		font-size: 14px;
	}
	.steps{
		/*padding-left: 30px;*/
	}
	.steps li{
		font-size: 12px;
	}


	/*****************************CREATE RECIPES*********************************/


	.create-form{
		padding: 40px;
	}
	.create-form h2{
		white-space: nowrap;
		font-size: 25px;
	}

	/*******************************SIGNUP FORM**********************************/

	.signup-container{
		top: 150px;
	}
	.signup-form{
		padding: 20px;
	}
	.signup-form button{
		margin-top: 0px;
		height: 40px;
		width: 120px;
	}
}