*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	height: 100vh;
	widows: 100%;
	/*overflow-x: hidden;*/
	font-family: 'Poppins', sans-serif;
}

h1{
	font-size: 50px;
	color: white;
}



/******************************************************HEADER*****************************************************
******************************************************************************************************************/




header{
	/*background-color: #98aaca;*/
	height: 100vh;
	overflow: hidden;
}

nav{
	top: 0;
	height: 10vh;
	width: 100vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
	display: grid;
	grid-template-columns: 3% 1fr 4fr 5%;
	position: fixed;
	z-index: 3;
}
nav::after{
	content: "";
	background: linear-gradient(to right, #4f8a96, #c19cb3);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.5;
	z-index: -1;
}
.logo{
	height: 100%;
	display: flex;
	align-items: center;
	/*justify-self: end;*/
	grid-column: 2/3;
	grid-row: 1/2;
	/*background-color: pink;*/
}
.logo a{
	text-decoration: none;
	font-size: 2.2vw;
	color: white;
}
.selection{
	grid-column: 3/4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
.selection li{
	/*background-color: lightgrey;*/
}
.selection a{
	text-decoration: none;
	color: white;
	font-size: 1.3vw;
}
.dropdown{
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	grid-column: 2/3;
	justify-content: center;
	align-items: flex-end;
	display: none;
}
.menu-icon{
	position: relative;
	/*background-color: pink;*/
	width: 30px;
	height: 30px;
	margin-right: 20px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu-icon .menu-lines{
	background-color: white;
	display: block;
	height: 4px;
	width: 30px;
	position: relative;
	transition: all .2s ease-out;
}
.menu-icon .menu-lines:before{
	background-color: white;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 9px;
	transition: all .2s ease-out;
}
.menu-icon .menu-lines:after{
	background-color: white;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: -9px;
	transition: all .2s ease-out;
}
.menu-btn{
	display: none;
}
.dropdown .menu-btn:checked ~ .options{
	visibility: visible;
	transform: translateY(0px);
	transition: 0.4s ease;
}
.dropdown .menu-btn:checked ~ .menu-icon .menu-lines{
	background-color: transparent;
}
.dropdown .menu-btn:checked ~ .menu-icon .menu-lines:before{
	transform: rotate(-45deg);
	top: 0;
}
.dropdown .menu-btn:checked ~ .menu-icon .menu-lines:after{
	transform: rotate(45deg);
	top: 0;
}

.options{
	position: absolute;
	/*margin-top: 40px;*/
	width: 200px;
	height: 300px;

	top: 11vh;
	right: 0;
	
	background-color: #d6b757;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-radius: 5px;
	z-index: 4;

	/*Make drop-down invisible to allow for 'animation'*/
	visibility: hidden;
	transition: 0.4s ease;
	transform: translateY(-10px);

	/*Quick Note: At first I used opacity: 0; and pointer-events: none; here and reversed it below.
	This however causes the anchor tags to stop working. I used visibility instead and it worked well.*/
}

.options li{
	list-style: none;
	width: 100%;
	height: 100%;
}
.options li:hover{
	background-color: #c9ac54;
	border-radius: 5px;
}
.options a{
	display: flex;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: white;
	justify-content: center;
	align-items: center;
}

header section{
	margin-top: 10vh;
	height: 90vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
	overflow: hidden;
}

.cover{
	height: 0%;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.cover img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.cover h1{
	position: absolute;
	color: white;
	right: 5%;
	/*bottom: 10%;*/
	bottom: 0;
	font-size: 50px;
}
#slider1{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	transform: translateX(-100%);
	background: linear-gradient(to right, #4f8a96, #c19cb3);
	z-index: -1;
}
#disclaimer{
	position: absolute;
	left: 2%;
	bottom: 5%;
	height: 200px;
	width: 20%;
	background-color: #d6b757;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	border-radius: 5px;

	/*Animation*/
	/*opacity: 0;*/
	/*transform: translateY(130%);*/
}
#disclaimer h3{
	text-align: center;
	color: white;
	margin-bottom: 5%;
	font-size: 20px;
}
#disclaimer p{
	color: white;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	font-size: 15px;
	text-align: center;
}

@media screen and (max-width: 768px) {
	nav{
		grid-template-columns: 10% 2fr 1fr 10%;
	}
	nav{
		height: 20vh;
	}
	.logo a{
		font-size: 7vw;
	}
	.dropdown{
		display: flex;
		grid-column: 3/4;
	}
	.selection{
		display: none;
	}
	.options{
		top: 15vh;
	}
	.cover img{
		height: 80%;
	}
	.cover h1{
		bottom: 10%;
		font-size: 7vw;
	}
	#disclaimer{
		height: 30vw;
		width: 30vw;
		left: 5%;
	}
	#disclaimer h3{
		font-size: 7vw;
	}
	#disclaimer p{
		display: none;
	}
}



/****************************************************ABOUT ME*****************************************************
******************************************************************************************************************/




#section1{
	height: 100vh;
	display: flex;
	align-items: center;
	background-color: white;

}
.block{
	height: 60vh;
	width: 80%;
	margin-top: 10vh;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	grid-template-columns: 10% 1fr 1fr 10%;
	background-color: transparent;
}

#pfp{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	position: relative;
	background: linear-gradient(to right, #eaeaea, transparent);
}
#pfp .caption{
	position: absolute;
	color: transparent;
	bottom: 1%;
	right: 1%;
	font-size: 10px;
}
#pfp img{
	grid-column: 3/4;
	height: 120%;
	max-width: 100%;
	position: absolute;
	bottom: 0;
}

.left-col{
	grid-column: 2/3;
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	align-items: center;
	justify-content: center;
	background-color: #eaeaea;
}
.left-col h1{
	color: #4f8a96;
}
.left-col .text-content{
	margin-top: 2%;
	width: 80%;
}
.left-col p{
	color: #4f8a96;
	width: 100%;
	height: 100%;
	text-align: center;
}




/***************************************************UNIVERSITY********************************************************
**********************************************************************************************************************/




#section2{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
#sun-rooiplein{
	width: 80%;
	height: 40vh;
	display: flex;
	position: relative;
}
#sun-rooiplein img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#sun-rooiplein p{
	position: absolute;
	color: white;
	bottom: 2%;
	right: 1%;
}

#sun-top-half{
	height: 40vh;
	width: 80%;
	display: flex;

	/* Fade-n animation stuff below:*/
	opacity: 0;
	transform: translateY(100px);
	transition: all 1s ease-out;
}
#sun-top-half.fade-in{
	opacity: 1;
	transform: translateY(0);
}

#sun-logo{
	height: 100%;
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#sun-logo img{
	height: 90%;
}
#sun-content{
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	width: 80%;
}
#sun-content h1{
	color: #eaeaea;
}
#sun-content p{
	color: #eaeaea;
}
#sun-content a{
	text-decoration: none;
	color: #d6b757;
}
#sun-content a:hover{
	color: white;
}

#slider2{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	/*background: linear-gradient(to top, transparent, #a8ab98);*/
	/*background: linear-gradient(to top, transparent, #474747);*/
	background-color: #474747;

	z-index: -1;

	/*animation*/
	/*transform: translateY(-100%);*/
	/*opacity: 0;*/
	transition: all 1s ease;
}
#slider2.slide-down{
	transform: translateY(0);
	/*opacity: 1;*/
}




/************************************************PROJECTS********************************************************
*****************************************************************************************************************/




#section3{
	height:	150vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: transparent;
	position: relative;
	overflow: hidden;
}
#section3-title{
	margin-top: 20vh;
	margin-bottom: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background: linear-gradient(to right, #4f8a96, #c19cb3);*/
	background-color: #eaeaea;
	width: 40%;
	height: 150px;
	border-radius: 75px; 
}
#section3-title h1{
	color: #4f8a96;
	margin-left: 5%;
	font-size: 100px;
}
#section3-icon{
	height: 90%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#section3-icon img{
	height: 100%;
}

/*************************Project01*****************************/

.project{
	height: 40vh;
	width: 80%;
	display: flex;
	align-items: center;
	/*background-color: yellow;*/
	position: relative;
}
.project-text{
	width: 60%;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*background-color: pink;*/
	position: relative;
}
.project-image{
	height: 80%;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;

	/*background-color: yellow;*/
}
.project-image img{
	width: 90%;
	border-radius: 5px;
}
.project-title{
	margin-bottom: 2vh;
	width: 95%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.project-title img{
	height: 100%;
	margin-right: 2%;
}
.project-title h2{
	font-size: 30px;
	color: #4f8a96;
}
.project-description p{
	color: #4f8a96;
	font-size: 20px;
	text-align: center;
}
.project-description a{
	text-decoration: none;
	color: #4f8a96;
}
.project-description a:hover{
	color: #d6b757;
}
.project-description img{
	width: 4vh;
}
.project-slider{
	position: absolute;
	/*I did the math to center the slider in the project with the 20%*/
	top: 5vh;
	right: 0;
	background-color: #eaeaea;
	width: 100%;
	height:	30vh;
	z-index: -1;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;

	/*animation*/
	transform: translateX(100%);
	transition: all 1s ease;
}
.project-slider.slide-from-right{
	transform: translateX(0);
}
#slider3{
	width: 100%;
	height: 100%;
	background-color: #4f8a96;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
}
#project01{
	/*background-color: lightgrey;*/
}

/**************************Project02************************/

#project02{
	justify-content: flex-end;
	/*background-color: pink;*/
}
#project02-image img{
	-webkit-filter: drop-shadow(2px 2px 5px);
	width: 80%;
}
.project-slider-L{
	position: absolute;
	top: 5vh;
	right: 0;
	background-color: #eaeaea;
	width: 100%;
	height:	30vh;
	z-index: -1;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;

	/*animation*/
	transform: translateX(-100%);
	transition: all 1s ease;
}
.project-slider-L.slide-from-left{
	transform: translateX(0);
}




/******************************************PAST WORK EXPERIENCE************************************************
***************************************************************************************************************/




#section4{
	height: 200vh;
	width: 100%;
	/*background-color: #313131;*/
	display: flex;
	justify-content: center;
	position: relative;
}
#experience-content{
	height: 100%;
	width: 80%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 20vh 20vh 15vh 1fr;
}
#work-title{
	grid-column: 1/4;
	grid-row: 2/3;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	width: 95%;
	margin: auto;
	height: 18vh;
	border-radius: 9vh;
	border-style: solid;
	border-color: #eaeaea;
}
#work-icon{
	height: 6vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
#work-icon img{
	height: 100%;
}
#work-title h1{
	font-size: 5.5vw;
	color: #eaeaea;
	white-space: nowrap;
	margin-left: 2%;
}
#slider4{
	background-color: #474747;
	/*background-color: #76c0c9;*/
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: -3;
}

/******************************Stone3**************************/


#stonethree{
	grid-column: 1/2;
	grid-row: 4/5;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}
#stone3-slider{
	position: absolute;
	top: 5vh;
	left: 5%;
	width: 90%;
	height: 67%;
	background-color: #4f8a96;
	border-radius: 10px;

	/*Animation*/
	transform: translateY(-5vh);
	opacity: 0;
	transition: all 0.8s ease;
}
#stone3-slider.slide-down{
	transform: translateY(0);
	opacity: 1;
}
#stone3-content{
	position: absolute;
	width: 90%;
	top: 2vh;
	left: 5%;
	/*background-color: lightgrey;*/
	/*opacity: 0.5;*/
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	/*Animation*/
	transform: translateY(15vh);
	opacity: 0;
	transition: all 0.8s ease;
}
#stone3-content.slide-up{
	transform: translateY(0);
	opacity: 1;
}
#stone3-background{
	/*margin-top: -10%;*/
	margin-bottom: 10%;
	width: 90%;
	border-radius: 10px;
}
#s3-heading{
	display: flex;
	justify-content: space-between;
	align-content: center;
	flex-direction: column;
	width: 90%;
	margin-bottom: 3vh;
}
#s3-heading h3{
	font-size: 40px;
	white-space: nowrap;
	color: white;
	margin-bottom: 1vh;
	text-align: center;
}
#s3-heading p{
	font-size: 15px;
	color: #474747;
	text-align: right;
	line-height: 100%;
	border-top-style: solid;
	border-top-color: #474747;
	padding-top: 1%;
	border-bottom-style: solid;
	border-bottom-color: #474747;
	padding-bottom: 1%;
}
#s3-description{
	width: 90%;
	color: white;
	text-align: center;
	font-size: 18px;
}
#s3-description a{
	text-decoration: none;
	color: #d6b757;
}
#s3-description a:hover{
	color: white;
}

/***************************YellowTail*************************/

#yellowtail{
	grid-column: 2/3;
	grid-row: 4/5;
	position: relative;
}
#yt-slider{
	position: absolute;
	top: -2vh;
	left: 5%;
	width: 90%;
	height: 78%;
	background-color: #4f8a96;
	border-radius: 10px;

	/*Animation*/
	transform: translateY(10vh);
	opacity: 0;
	transition: all 0.8s ease;
}
#yt-slider.slide-up{
	transform: translateY(0);
	opacity: 1;
}
#yt-content{
	position: absolute;
	width: 90%;
	top: 5vh;
	left: 5%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	/*animation*/
	transform: translateY(-5vh);
	opacity: 0;
	transition: all 0.8s ease;
}
#yt-content.slide-down{
	transform: translateY(0);
	opacity: 1;
}
#yt-logo{
	width: 80%;
	margin-bottom: 10%;
}
#yt-dates{
	width: 90%;
	margin-bottom: 3vh;
}
#yt-dates p{
	font-size: 15px;
	color: #474747;
	text-align: right;
	line-height: 100%;
	border-top-style: solid;
	border-top-color: #474747;
	padding-top: 1%;
	border-bottom-style: solid;
	border-bottom-color: #474747;
	padding-bottom: 1%;
}
#yt-description{
	width: 90%;
	color: white;
	text-align: center;
	font-size: 18px;
}
#yt-description a{
	text-decoration: none;
	color: #d6b757;
}
#yt-description a:hover{
	color: white;
}

/*************************WildClover************************/

#wildclover{
	grid-column: 3/4;
	grid-row: 4/5;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}
#wildclover-slider{
	position: absolute;
	top: 13vh;
	left: 5%;
	width: 90%;
	height: 52%;
	background-color: #4f8a96;
	border-radius: 10px;

	/*Animation*/
	transform: translateY(-13vh);
	opacity: 0;
	transition: all 0.8s ease;
}
#wildclover-slider.slide-down{
	transform: translateY(0);
	opacity: 1;
}
#wildclover-content{
	position: absolute;
	width: 90%;
	top: -5vh;
	left: 5%;
	/*background-color: lightgrey;*/
	/*opacity: 0.5;*/
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	/*Animation*/
	transform: translateY(10vh);
	opacity: 0;
	transition: all 0.8s ease;
}
#wildclover-content.slide-up{
	transform: translateY(0);
	opacity: 1;
}
#wildclover-logo{
	width: 90%;
	margin-bottom: 10%;
}
#wildclover-dates{
	width: 90%;
	margin-bottom: 3vh;
}
#wildclover-dates p{
	font-size: 15px;
	color: #474747;
	text-align: right;
	border-top-style: solid;
	border-top-color: #474747;
	padding-top: 1%;
	border-bottom-style: solid;
	border-bottom-color: #474747;
	padding-bottom: 1%;
}
#wildclover-description{
	width: 90%;
	color: white;
	text-align: center;
	font-size: 18px;
}
#wildclover-description a{
	text-decoration: none;
	color: #d6b757;
}
#wildclover-description a:hover{
	color: white;
}